/* Generals */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.white-txt {
    color: white;
}
.md-font {
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

a:hover {
    font-size: 30px;
    transition: 0.5s;
}

.none {
    display: none!important;
}

.right {
    background-color: green!important;
}

.wrong {
    background-color: red!important;
}

/*Header*/
header {
    height: 10%;
    padding-top: 30px;
}
.title-cnt {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Media Query*/
     /* Regole per il rendering responsive */

        /* Stili per schermi di larghezza inferiore a 600px */
        @media (max-width: 600px) {
            .select_cnt {
                flex-direction: column;
                align-items: center;
            }
            .row-cnt {
                flex-direction: column;
                align-items: center;
            }
            .col {
                width: 100%;
            }
        }

        /* Stili per schermi di larghezza compresa tra 601px e 900px */
        @media (min-width: 601px) and (max-width: 900px) {
            .question-cnt {
                flex-direction: column;
                align-items: center;
            }
            .col {
                width: 50%;
            }
        }

        /* Stili per schermi di larghezza superiore a 900px */
        @media (min-width: 901px) {
            .quiz-cnt {
                display: flex;
                justify-content: space-between;
            }
            .question-cnt {
                width: 60%;
            }
            .answer-cnt {
                width: 35%;
            }
        }

/*Main*/
main {
    height: 80vh;
    width: 100%;
}
.quiz-cnt {
    height: 100%;
    width: 100%;
}
.question-cnt {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer-cnt {
    height: 80%;
    width: 100%;
    display: flex;
    
}
.row-cnt {
    height: 100%;
    width: 100%;
}
.row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alert {
    background-color: darkgrey;
    border-radius: 3%;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#errors {
    margin-bottom: 20px;
}
.col {
    border: 1px solid white;
    height: 80%;
    width: 20%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col:hover {
    background-color:darkgrey;
    cursor: pointer;
}


.questions_panel {
    color: white;
    display: flex;
}

.questions_panel button {
    margin-left: 20px;
    width: 80px;
    font-size: 14px;
}

#next {
    font-size: 14px;
    font-weight: bold;
}



/*Footer*/
footer {
    height:10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-txt {
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.question_number {
    margin-left: 2%;
    width: 8%;
}