/* Generals */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.white-txt {
    color: white;
}
.md-font {
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

a:hover {
    font-size: 30px;
    transition: 0.5s;
}

.none {
    display: none!important;
}

.right {
    background-color: green!important;
}

.wrong {
    background-color: red!important;
}

/*Header*/
header {
    height: 10%;
    padding-top: 30px;
}
.title-cnt {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Main*/
main {
    height: 80vh;
    width: 100%;
}
.quiz-cnt {
    height: 100%;
    width: 100%;
}
.question-cnt {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer-cnt {
    height: 80%;
    width: 100%;
    display: flex;
    
}
.row-cnt {
    height: 100%;
    width: 100%;
}
.row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.col {
    border: 1px solid white;
    height: 80%;
    width: 20%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col:hover {
    background-color:darkgrey;
    cursor: pointer;
}


.questions_panel {
    color: white;
    display: flex;
}

.questions_panel button {
    margin-left: 20px;
    width: 80px;
    font-size: 14px;
}



/*Footer*/
footer {
    height:10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-txt {
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

.question_number {
    margin-left: 2%;
    width: 8%;
}